AWS_API_ENDPOINT="your aws api gateway endpoint here"
AWS_API_KEY="your aws api gateway api key here"
AWS_BEDROCK_API_KEY_NAME="your aws bedrock api key name here"
AWS_BEDROCK_API_KEY="your aws bedrock api key here"
AWS_BEDROCK_LLM_MODEL_ID="your aws bedrock llm model id here"